.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 28px;

  width: 578px;
  height: 212px;

  background: #6d67d0;
  backdrop-filter: blur(10px);

  border-radius: 10px;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.infos h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  text-transform: capitalize;

  color: #dad8f7;
}

.footerTemperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

.footerTemperature :nth-child(1) {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
}

.footerTemperature :nth-child(2) {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: #c2bff4;
}
