.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #6d67d0;
    backdrop-filter: blur(10px);
    border-radius: 10px;

    width: 277px;
    height: 244px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.title span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #dad8f7;
}

.baseSunTime {
    margin-top: 30px;
    width: 240px;
    display: flex;
    justify-content: space-between;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}

@media only screen and (max-width: 900px) {
    .container {
        width: auto;
        height: auto;
        width: 363px;
        padding-bottom: 10px;
    }
}
