.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 150px;
}

.containerCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    align-self: center;

    gap: 32px;
}

.airAndSun {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap: 24px;
}

.rightSide {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.weather {
    width: 140px;
    position: absolute;
    margin-top: -60px;
}

@media only screen and (max-width: 900px) {
    .container {
        margin-top: 40px;
    }

    .containerCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .airAndSun {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 720px) {
    .weather {
        width: 80px;
        position: absolute;
        margin-top: 0px;
        margin-left: -10px;
    }
}
