.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.airAndSun {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
