.Footer {
  position: relative;
  padding: 24px;
  background: rgb(135, 143, 250);
  background: linear-gradient(
    0deg,
    rgba(135, 143, 250, 1) 62%,
    rgba(253, 233, 45, 0) 100%
  );

  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #e7e6fb;
}

.nameFooter {
  color: #87ebcd;
}
