body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
